<form onsubmit={{action 'onSubmitHandler'}}>
  <input
    autofocus
    onkeyup={{action 'onKeyUpHandler' value='target.value'}}
    placeholder='search yeah?'
    value={{query}} />
</form>

{{#if isInputEntered}}
  <button
    class="search-box__clear"
    {{action 'onClearInputHandler'}}>clear</button>
{{/if}}
