<div class="thumbnails">
  <ul>
    {{#each images as |image|}}
    <li>
      {{#link-to 'images.image' image.id}}
      <img src="{{image.thumbnail.url}}" alt="{{image.title}}" height="50" /> {{/link-to}}
    </li>
    {{/each}}
  </ul>
</div>
