<div class="zoom {{if isZooming 'is-zooming'}}">
  <button class="zoom-button" id="zoom-in">+</button><button class="zoom-button" id="zoom-out">-</button><button class="zoom-button" id="home">reset</button><button class="zoom-button" {{action 'exitZoom'}}>exit</button>
  <div id="zoom" class="zoom-image"></div>
</div>
{{#unless isZooming}}
  {{#each emotions as |emotion|}}
    <div class="emotion" style="position:absolute; top:{{emotion.faceRectangle.top}}px; left: {{emotion.faceRectangle.left}}px; width:{{emotion.faceRectangle.width}}px; height:{{emotion.faceRectangle.height}}px; border: 3px solid dodgerblue;">
      <ul>
        <li>anger: {{emotion.scores.anger}}%</li>
        <li>contempt: {{emotion.scores.contempt}}%</li>
        <li>disgust: {{emotion.scores.disgust}}%</li>
        <li>happiness: {{emotion.scores.happiness}}%</li>
        <li>neutral: {{emotion.scores.neutral}}%</li>
        <li>sadness: {{emotion.scores.sadness}}%</li>
        <li>surprise: {{emotion.scores.surprise}}%</li>
      </ul>
    </div>
  {{/each}}
{{/unless}}
<img {{action 'doZoom'}}src="{{model.thumbnail.url}}" alt="{{model.thumbnail.title}}" />
