.random-image {
  display: none;
  margin-top: 20px;
}

.random-image a {
  text-decoration: none;
  color: inherit;
}

.random-image.is-active {
  display: block;
}

.random-image img {
  height: 200px;
  display: block;
  margin: 0 auto;
}

.random-image p {
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 1em;
}

.emotion ul {
  opacity: 0;
  transition: opacity 600ms ease;
  list-style: none;
  background: rgba(30, 30, 30, 0.8);
  display: inline-block;
  padding: 5px 12px;
  margin-left: 20px;
  color: white;
  width: 130px;
}

.emotion:hover ul {
  opacity: 1;
}

.zoom {
  display: none;
  top: 0;
  left: 0;
  background: black;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.zoom-view {
  position: relative;
}

.zoom-button {
  appearance: none;
  background: #333;
  padding: 4px 10px;
  border: 0;
  font-family: avenir;
  border-radius: 4px;
  margin: 5px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.image-view {
  margin: 0 auto;
  padding: 0 20px;
}
.image-view img {
  display: block;
  width: 100%;
}

.zoom.is-zooming {
  display: block;
}

.zoom-image {
  height: 100%;
  width: 100%;
}

.controls {
  margin-top: 10px;
  position: relative;
}

.prev,
.next {
  padding: 4px 10px;
  background: rgba(0,0,0,0.5) ;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 0;
  margin-top: -65px;
  transition: background 600ms ease;
}

.prev:hover,
.next:hover {
  background: rgba(0,0,0,1);
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: avenir;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.3em;
}

.search-box {
  width: calc(100% - 40px);
  margin: 0 auto;
  margin-top: 20vh;
  transition: all 600ms ease;
  position: relative;
}

.search-box input {
  border-radius: 0;
  border: 1px solid grey;
  transition: border-color 600ms ease;

}

.search-box input:focus {
  outline: 0;
  border: 1px solid hotpink;
}

.search-box__clear {
  font-size: 20px;
  font-family: avenir;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  appearance: none;
  border: 0;
  line-height: 0;
  color: dodgerblue;
}

.search-box.is-small-input {
  margin-top: 10px;
}

.search-box.is-small-input .search-box__clear {
  right: 5px;
  font-size: 16px;
}

.search-box input {
  padding: 20px 70px 20px 20px;
  width: 100%;
  font-family: avenir;
  font-size: 20px;
}

.search-box.is-small-input input {
  padding: 10px 50px 10px 10px;
  font-size: 16px;
}

.thumbnails {
  width: 100vw;
  overflow: auto;
  margin: 5px 0;
}

.thumbnails ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.thumbnails img {
  display: block;
}

.loader-wrap {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  position: relative;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(102,102,102, 0.2);
  border-right: 1.1em solid rgba(102,102,102, 0.2);
  border-bottom: 1.1em solid rgba(102,102,102, 0.2);
  border-left: 1.1em solid #666666;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
