{{search-box
  isSmallInput=isSmallInput
  query=query
  onSubmitHandler=(action 'updateSearch')}}

{{#if randomImage}}
  {{random-image}}
{{/if}}

{{#if isLoading}}
  {{loading-indicator}}
{{/if}}

{{thumbnail-list images=model.results }}

<div class="controls">
  {{#if prevPage}}
    {{link-to 'prev' (query-params page=prevPage) class="prev"}}
  {{/if}}

  {{#if nextPage}}
    {{link-to 'next' (query-params page=nextPage) class="next"}}
  {{/if}}
</div>

{{outlet}}
